.mice_main_title{
  margin:0;
}

.mice_tab-image {
  width: 100%;
  height: auto;
}

input[type="checkbox"].checkbox-visible,
input[type="radio"].radio-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

#event_abroad_title {
  display: none;
}

.locations_list-item-image {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mice-location-slider {
  position: relative;
}
.mice-location-slider .slick-next,
.mice-location-slider .slick-prev {
  position:  absolute;
  top: 50% ;
  left: 15px;
}
.mice-location-slider .slick-next {
  left: auto;
  right: 15px;
}
.mice-location-slider .slick-next:before,
.mice-location-slider .slick-prev:before {
  opacity:1;
  color: #FC480C;
  background: rgba(255, 255, 255, 0.9);
}